
<ul class="nav nav-list">
    <li class=nav-header>HOME</li>
    <li><a href="index.html">EDAMAME course materials</a></li>
    <li class=divider></li>
    <li class=nav-header>Before We Begin</li>
    <li><a href="https://edamame-course.github.io/docs/general_set_up_guidelines.html">Getting Set Up For The Course</a></li>
    <li><a href="https://edamame-course.github.io/docs/intro_to_ec2_instance.html">All Users: Setting up an EC2 instance</a></li>
    <li><a href="https://edamame-course.github.io/docs/mobaxterm.html">Windows Users: Connecting to your AWS EC2 instance</a></li>
    <li><a href="https://edamame-course.github.io/docs/mac_os_linux_connect_to_ec2.html">Mac and Linux Users: Connecting to your AWS EC2 instance</a></li>
    <li><a href="https://edamame-course.github.io/docs/extra/macqiime_installation.html">Mac Users: Installing MacQIIME</a></li>
    <li><a href="https://edamame-course.github.io/docs/QIIME_VB_for_Windows.html">Windows Users: Installing a Virtual Box to run QIIME on your own Windows computer</a></li>
    <li class=divider></li>
    <li class=nav-header>Wednesday, August 13th</li>
    <li><a href="https://edamame-course.github.io/docs/august_13.html">Wednesday, August 13th</a></li>
    <li class=divider></li>
    <li class=nav-header>Thursday, August 14th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Friday, August 15th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Saturday, August 16th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Sunday, August 17th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Monday, August 18th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Tuesday, August 19th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Wednesday, August 20th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
</ul>
