
<ul class="nav nav-list">
    <li class=nav-header>HOME</li>
    <li><a href="index.html">EDAMAME course materials</a></li>
    <li class=divider></li>
    <li class=nav-header>Before We Begin</li>
    <li><a href="intro_to_ec2_instance.html">All Users: Setting up an EC2 instance</a></li>
    <li><a href="mobaxterm.html">Windows Users: Connecting to your AWS EC2 instance</a></li>
    <li><a href="mac_os_linux_connect_to_ec2.html">Mac and Linux Users: Connecting to your AWS EC2 instance</a></li>
    <li><a href="macqiime_installation.html">Mac Users: Installing MacQIIME</a></li>
    <li class=divider></li>
    <li class=nav-header>Wednesday, August 13th</li>
    <li><a href="test.html">Test</a></li>
    <li class=divider></li>
    <li class=nav-header>Thursday, August 14th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Friday, August 15th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Saturday, August 16th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Sunday, August 17th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Monday, August 18th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Tuesday, August 19th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
    <li class=nav-header>Wednesday, August 20th</li>
    <!-- <li><a href="http://edamame-course.org">EDAMAME course home page</a></li> -->
    <li class=divider></li>
</ul>
